<div class="wrapper-header">
    <main class="main">
        <div class="info-content">
            <h1>Mariano<span> Villalonga</span></h1>
            <h5>SoftwareDevelouper</h5>
            <p>Soy Analista en Sistemas, actualmente estudiante de ingenieria en sistemas, soy programador FullStack con conocimientos
                con HTML, CSS, JavaScript, React, Angular, MySql, NodeJS, PHP, Express
            </p>
            <a download href="assets/cv/cv.pdf">
                <button class="download-cv" download="" >
                    Descargar mi CV
                </button>
            </a>
        </div>
        <img src="../../../assets/img/mariano.jpeg" alt="">
    </main>
</div>