<div class="about">
    <img src="../../../assets/img/trabajo.jpg" alt="">
    <div class="about-info">
        <h2>Mis trabajos</h2>
        <div class="divider"></div>
        <p>
            Cobromix · Jornada completa · Jornada completa
            jul. 2022 - actualidad
            <li>NodeJS, React, Express,MySql</li>
        </p>
        <p>
            Version Dos · Profesional independiente · Profesional independiente
            may. 2022 - actualidad
            <li>PHP,MySql</li>
        </p>
        <p>
            ITS servicios informaticos · Jornada completa · Jornada completa
            jun. 2021 - mar. 2022 · 10 meses
            <li>PHP, JavaScript, MySql, Ajax</li>
        </p>
        <p>
            Oeste Servicios Sociales · Jornada completa · Jornada completa
            feb. 2021 - mar. 2021 · 2 meses
            <li>C#, MySql</li>
        </p>
        <a href="https://www.linkedin.com/in/mariano-villalonga-778507199/">
            <button class="download-cv">
                Ir a mi linkedin
            </button>
        </a>
    </div>
</div>