.container-skill{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #191c32;
}

.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name{
    font-size: 18px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar{
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translate(50px);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translate(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBors{
    form{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.divider{
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 3em;
}

.contact-headings h2{
    font-size: 3em;
}

h2{
    color: #f1f1f1;
}