<div class="contact-section">
    <div class="contact-headings">
        <h2>Para contactarme</h2>
        <div class="divider"></div>
    </div>
    <div class="container-contact">
        <img src="../../../assets/img/contacto.jpg" alt="">
        <div class="contact-form">
            <h4>Envia un mensaje</h4>
            <form class="form">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="E-Mail">
                <textarea placeholder="Escribe tu mensaje">

                </textarea>
                <button type="submit" class="btn-submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
